
body {
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}

.container {
    background-image: url(https://cdn.wallpapersafari.com/7/32/ZvhbSK.gif);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    image-rendering:optimizeSpeed;
    position: relative; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice{
    width: auto;
    border-radius: 10px;
    backdrop-filter: blur(8px);
}

.coffee {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 5px;
}


.coffee-shop {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 5px;
}

.gif {
    max-width: 100%;
    height: auto; 
    display: block; 
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
    z-index: 2;
}

.buttons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 30px;
    z-index: 2;
}

.yes-button:hover, .no-button:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    color: rgb(255, 255, 255); 
  }

@media (max-width: 680px) {
    
    .container {
        flex-direction: column;
        padding: 15px;
    }

    .choice{
        max-width: 100%;
        margin: 0 auto;
    }

    .text {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }

    .buttons {
        flex-direction: row;
        gap: 40px;
        margin-bottom: 20px;
    }

    .buttons .yes-button, .buttons .no-button {
        width: 180px;
        max-width: 150px;
    }



    .coffee, .coffee-shop {
        display: none;
    }
}


@media (max-width: 480px) {

    .container {
        flex-direction: column;
        padding: 15px;
    }

    .choice{
        max-width: 100%;
        margin: 0 auto;
    }

    .text {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }

    .buttons {
        flex-direction: row;
        gap: 40px;
        margin-bottom: 20px;
    }

    .buttons .yes-button, .buttons .no-button {
        width: 180px;
        max-width: 150px;
    }

    .coffee, .coffee-shop {
        display: none;
    }
}